<div class="container-md text-center rounded my-3 mb-4">
	<div class="row">
		<div class="d-flex  button_all_title display-5 my-2 title">
			<img src="{{ ROOT_URL }}/assets/images/ninja-icon.svg" alt="" style="width:1em;height:1em">

			articles featured</div>
		<div class="row mx-auto my-3  justify-content-center">


			<div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner" role="listbox">
					{% if article[0].is_featured == 1 %}
						<div class="carousel-item active">
							<div class="col-12 col-md-4 col-xl-2">
								<div class="card px-2 ms-2">
									<img src="{{article[0].picture ? article[0].picture : "/assets/images/default_article.png/"}}" class="card-img-top py-2" alt="..." style="height:20em;">


									<div class="card-body">
										<h2 class="card-title">{{ article[0].title|striptags|length > 12 ? article[0].title|striptags|slice(0, 12) ~ '...' : article[0].title|striptags }}</h2>


										<p class="card-text text-light">{{ article[0].content|striptags|length > 100 ? article[0].content|striptags|slice(0, 100) ~ '...' : article[0].content|striptags }}</p>


										<a href="{{ ROOT_URL }}/articles/show?id={{ article[0].id }}" class="btn btn-warning">Go to Article</a>


									</div>
								</div>

							</div>
						</div>

						{% for i in 1..8 %}
							{% if article[i].is_featured == 1 %}
								<div class="carousel-item">
									<div class="col-12 col-md-4 col-xl-2">

										<div class="card px-2 ms-2">

											<img src="{{article[i].picture ? article[i].picture : "/assets/images/default_article.png/"}}" class="py-2 card-img-top" alt="..." style="height:20em;">

											<div class="card-body">
												<h2 class="card-title">{{ article[i].title|striptags|length > 12 ? article[i].title|striptags|slice(0, 12) ~ '...' : article[i].title|striptags }}</h2>


												<p class="card-text text-light">{{ article[i].content|striptags|length > 100 ? article[i].content|striptags|slice(0, 100) ~ '...' : article[i].content|striptags }}</p>

												<a href="{{ ROOT_URL }}/articles/show?id={{ article[i].id }}" class="btn btn-warning">Go to Article</a>


											</div>
										</div>


									</div>
								</div>

								{% else %}


							{% endif %}
						{% endfor %}


						{% else %}

					{% endif %}


				</div>
				<a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</a>
				<a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>

</div>
