{% extends "layout.html.twig" %}

{% block content %}

	<div class="container-fluid row my-4  p-3">


		{% include "_Component/_caroussel.html.twig"  with {'article': article} %}


		<div class="card background-ws-dark mt-4  col-12 col-md-6 col-xl-6">
			<div class="container mb-2">

				<h2 class="button_all_title title text-center">Anime top</h2>
				<div class="row row-anime">

					{% for i in 0..7 %}
						<div class="card mt-2 col-xl-3 col-md-6 col-sm-6">
							<div class="d-fluid">

								<div class="row">

									<div class="col-6 col-md-12 col-xl-12">
										<input type="hidden" class="btn btn-primary position-relative">

											<span class="position-absolute top-20 start-20 translate-middle title p-2 mt-4  background-ws-light  rounded-circle">{{anime_list[i].getRank}}</span>

										</input>

										<form action="{{ ROOT_URL }}/anime/like?id={{anime_list[i].malId}}" method="post">


											<input type="hidden" class="btn btn-primary position-relative">

												<button type="submit" class="btn  position-absolute   end-0" id="like-anime">


													<p class="heart btn btn-warning ">♥️</p>


												</button>


											</input>
										</form>


										<a href="{{ ROOT_URL }}/anime/show?id={{anime_list[i].malId}}" data-toggle="tooltip" data-placement="top" title="{{ anime_list[i].getTitle}}">

											<img src="{{anime_list[i].images.webp.imageUrl}}" class="card-img-top mt-2" alt="..." style="height:15em">

										</a>
									</div>
									<div class="col-6 col-md-12 col-xl-12">

										<div class="card-body">
											<h5 class="card-title">{{ anime_list[i].getTitle|striptags|length > 5 ? anime_list[i].getTitle|striptags|slice(0, 5) ~ '...' : anime_list[i].getTitle|striptags }}</h5>


											<div class="d-flex flex-row bd-highlight align-items-center mb-3">

												<div class="row">
													<a href="#" class="btn btn-warning">
														{{(anime_list[i].startDate) ? anime_list[i].startDate : "not start"}}


													</a>
													<a href="#" class="btn btn-warning mt-2">Episodes:
														{{(anime_list[i].getEpisodes) ? anime_list[i].getEpisodes: "no..."}}


													</a>
												</div>


											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>


			</div>


		</div>


		<div class="card background-ws-dark mt-4 col-12 col-md-6 col-xl-6">


			<div class="container">


				<h2 class="button_all_title title text-center">Manga top</h2>
				<div class="row">


					{% for i in 0..7 %}
						<div class="card mt-2 col-xl-3 col-md-6 col-sm-6">

							<div class="d-fluid">


								<div class="row row-anime">

									<div class="col-6 col-md-12 col-xl-12">


										<input type="hidden" class="btn btn-primary position-relative">

											<span class="position-absolute top-20 start-20 translate-middle title p-2 mt-4  background-ws-light  rounded-circle">{{manga_list[i].getRank}}</span>

										</input>

										<form action="{{ ROOT_URL }}/manga/like?id={{manga_list[i].malId}}" method="post">


											<input type="hidden" class="btn btn-primary position-relative">

												<button type="submit" class="btn  position-absolute   end-0" id="like-anime">


													<p class="heart btn btn-warning ">♥️</p>


												</button>


											</input>
										</form>


										<a href="{{ ROOT_URL }}/manga/show?id={{manga_list[i].malId}}" data-toggle="tooltip" data-placement="top" title="{{ manga_list[i].getTitle}}">

											<img src="{{manga_list[i].images.webp.imageUrl}}" class="card-img-top mt-2" alt="..." style="height:15em">

										</a>
									</div>
									<div class="col-6 col-md-12 col-xl-12">

										<div class="card-body">
											<h5 class="card-title">{{ manga_list[i].getTitle|striptags|length > 5 ? manga_list[i].getTitle|striptags|slice(0, 5) ~ '...' : manga_list[i].getTitle|striptags }}</h5>


											<div class="d-flex flex-row bd-highlight align-items-center mb-3">

												<div class="row">
													<a href="#" class="btn btn-warning">
														{{(manga_list[i].startDate) ? manga_list[i].startDate : "not start"}}


													</a>
													<a href="#" class="btn btn-warning mt-2">Volumes:
														{{(manga_list[i].getVolumes) ? manga_list[i].getVolumes: "no..."}}


													</a>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>


			</div>


		</div>


	</div>

{% endblock %}
{% block javascript %}
	<script src="{{ ROOT_URL }}/assets/js/carrousel.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


{% endblock %}
